<div class="b-line b-line_breacrumb">
    <div class="container">
        <div class="row_8">
            <div class="span6">
                <ul class="b-breadcrumb">
                    <li class="b-breadcrumb__item"><a href="#" class="b-breadcrumb__link">Главная</a></li>
                    <li class="b-breadcrumb__item"><a href="#" class="b-breadcrumb__link">Корзина</a></li>
                    <li class="b-breadcrumb__item">Покупка товара</li>
                </ul>
            </div>
            <div class="span2">
                <div class="b-search">
                    <input type="text" class="b-form__text b-form__text_search" placeholder="поиск">
                    <button type="submit" class="b-search__submit icon-6"></button>
                </div>
            </div>
        </div>
    </div>
</div>