<div class="b-catalog__item">
    <h2 class="b-catalog__title"><a href="#">Эллиптический тренажер <span
            class="b-catalog__title-tm">OptiCross 21</span></a></h2>
    <div class="row_8">
        <div class="span4">
            <a class="b-catalog__link" href="#"><img src="images/content/cat-item2_190x190.jpg" alt="Эллиптический тренажер OptiCross 21"
                 class="b-catalog__img"/></a>
            <div class="b-rating">
                <input name="itemid@@id" class="b-rating__star" type="radio" />
                <input name="itemid@@id" class="b-rating__star" type="radio" />
                <input name="itemid@@id" class="b-rating__star" type="radio" />
                <input name="itemid@@id" class="b-rating__star" type="radio" />
                <input name="itemid@@id" class="b-rating__star" type="radio" />
            </div>
            <div class="b-catalog__label">
                <span class="rnd__item-label"></span>
                <span class="rnd__item-label rnd__item-label_sale">15</span>
                <span class="rnd__item-label rnd__item-label_recomend"></span>
            </div>
        </div>
        <div class="span4">
            <ul class="rnd__list b-catalog__list">
                <li>Мощность двигателя: <strong>2,6</strong> ps</li>
                <li>Наклон: <strong>0-15</strong>%</li>
                <li>Скорость: <strong>0,8-20</strong> km/h</li>
                <li>Макс. вес человека: <strong>150</strong> kg</li>
                <li>Габариты полотна: <strong>1200x250</strong> cm</li>
            </ul>
            <div class="b-catalog__old-price">@@oldprice</div>
            <div class="b-catalog__price">535 000 руб</div>
            <div class="b-catalog__stock @@classmod">@@stocktext</div>
            <label class="b-catalog__tocompare"><input type="checkbox"/> К сравнению</label>
            <button class="rnd__button rnd__button_blue b-catalog__incart @@btnmodclass">В корзину</button>
        </div>
    </div>
</div>