<footer class="b-footer clearfix">
    <div class="container">
        <div class="row_8">
            <div class="span2">
                <div class="b-widget">
                    <h2 class="b-widget__title">О нас</h2>
                    <ul class="b-widget__menu">
                        <li class="b-widget__menu-item"><a href="#" class="b-widget__menu-link">Медия</a></li>
                        <li class="b-widget__menu-item"><a href="#" class="b-widget__menu-link">Карта сайта</a></li>
                    </ul>
                </div>
            </div>
            <div class="span2">
                <div class="b-widget">
                    <h2 class="b-widget__title">еще наши сайты</h2>
                    <ul class="b-widget__menu">
                        <li class="b-widget__menu-item"><a href="#" class="b-widget__menu-link">Медия</a></li>
                        <li class="b-widget__menu-item"><a href="#" class="b-widget__menu-link">Карта сайта</a></li>
                    </ul>
                </div>
            </div>
            <div class="span2">
                <div class="b-widget">
                    <h2 class="b-widget__title">Служба поддержки</h2>
                    <ul class="b-widget__menu">
                        <li class="b-widget__menu-item"><a href="#" class="b-widget__menu-link">Медия</a></li>
                        <li class="b-widget__menu-item"><a href="#" class="b-widget__menu-link">Карта сайта</a></li>
                    </ul>
                </div>
            </div>
            <div class="span2">
                <div class="b-widget">
                    <h2 class="b-widget__title">социальные сети</h2>

                    <div class="b-widget__social">
                        <a href="#" class="b-widget__social-icon icon-1" title="FaceBook"></a>
                        <a href="#" class="b-widget__social-icon icon-2" title="VKontakte"></a>
                        <a href="#" class="b-widget__social-icon icon-3" title="GooglePlus"></a>
                        <a href="#" class="b-widget__social-icon icon-4" title="Odnoklasniki"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-footer__bottom">
            <div class="row_8">
                <div class="span6">
                    <div class="b-footer__copyrights">&copy; 2014 Все права защищены. Optima Fitness</div>
                </div>
                <div class="span2">
                    <div class="b-created">
                        <a target="_blank" href="//mymediapro.ru" class="b-created__link">Создание сайта:</a>
                        <a target="_blank" href="//mymediapro.ru" class="b-created__link"><img src="images/mmplogo.svg"
                                                                                               alt="Optima Fitness"
                                                                                               class="b-created__img"
                                                                                               width="114" height="25"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>