<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.min.css" media="all"/>
    <script src="js/all.js"></script>
    <!--[if lte IE 8 ]>
    <script type="text/javascript">window.location.href = "ie8min/index.html";</script><![endif]-->
</head>
<body>
<div class="wrap">
    <header class="b-header">
        <div class="b-header__top" id="top">
            <div class="container">
                <div class="row">
                    <div class="span2">
                        <a href="#" class="b-header__logo"><img src="images/logo.svg" class="b-header__logo-img"
                                                                width="173"
                                                                alt="Optima Fitness"/></a>
                    </div>
                    <div class="span7">
                        <div class="b-header__beforecart">
                            <div class="b-header__lang">
                                <select class="b-header__lang-select">
                                    <option value="ru" class="ru">Русский</option>
                                    <option value="de" class="de">Deutsch</option>
                                    <option value="en" class="en">English</option>
                                </select>
                            </div>
                            <div class="b-header__tel"><span class="b-header__tel-code">+7 (495) </span>221-2595</div>
                            <a class="b-header__rcall colorbox-inline" href="#rcall">обратный звонок</a>
                        </div>
                        <div class="b-header__cart">
                            <a class="b-header__cart-link" href="#incart" title="В корзину"></a>

                            <div class="b-header__cart-icon icon-5"><span class="b-header__cart-count">10</span></div>
                            на сумму: <span class="b-header__cart-sum">200 000</span> руб
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="b-nav">
            <div class="container">
                <ul class="b-nav__list">
                    <li class="b-nav__item"><a href="#" class="b-nav__link b-nav__link_current">беговые дорожки</a></li>
                    <!--
                                    -->
                    <li class="b-nav__item"><a href="#" class="b-nav__link">эллиптические</a></li>
                    <!--
                                    -->
                    <li class="b-nav__item"><a href="#" class="b-nav__link">велотренажер</a></li>
                    <!--
                                    -->
                    <li class="b-nav__item"><a href="#" class="b-nav__link">гибрид треник</a></li>
                    <!--
                                    -->
                    <li class="b-nav__item"><a href="#" class="b-nav__link">гребля</a></li>
                    <!--
                                    -->
                    <li class="b-nav__item"><a href="#" class="b-nav__link">Оплата и доставка</a></li>
                    <!--
                                    -->
                    <li class="b-nav__item"><a href="#" class="b-nav__link">контакты</a></li>
                </ul>
            </div>
        </nav>
    </header>