<!DOCTYPE html>
<!--lang="ru" нужно менять в зависимости от языка так как есть привязка в джс-->
<html lang="ru">
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.min.css" media="all"/>
    <script src="js/all.js"></script>
    <!--[if lte IE 8 ]>
    <script type="text/javascript">window.location.href = "ie8min/index.html";</script><![endif]-->
</head>
<body>
<div class="wrap">
    <header class="b-header">
        <div class="b-header__top" id="top">
            <div class="container">
                <div class="row">
                    <div class="span2">
                        <a href="index.html" class="b-header__logo"><img src="images/logo.svg" class="b-header__logo-img"
                                                                width="173"
                                                                alt="Optima Fitness"/></a>
                    </div>
                    <div class="span7">
                        <div class="b-header__beforecart">
                            <div class="b-header__lang">
                                <select class="b-header__lang-select">
                                    <option value="ru" class="ru">Русский</option>
                                    <option value="de" class="de">Deutsch</option>
                                    <option value="en" class="en">English</option>
                                </select>
                            </div>
                            <div class="b-header__tel"><span class="b-header__tel-code">+7 (495) </span>221-2595</div>
                            <a class="b-header__rcall colorbox-inline" href="#rcall">обратный звонок</a>
                        </div>
                        <div class="b-header__cart">
                            <a class="b-header__cart-link" href="cart_1.html" title="В корзину"></a>

                            <div class="b-header__cart-icon icon-5"><span class="b-header__cart-count">10</span></div>
                            на сумму: <span class="b-header__cart-sum">200 000</span> руб
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="b-nav">
            <div class="container clearfix">
                <ul class="b-nav__list">
                    <li class="b-nav__item">
                        <a href="catalog4.html" class="b-nav__link b-nav__link_current">беговые дорожки</a>
                        <div class="b-nav__sub">
                            <div class="row row_8">
                                <div class="span7">
                                    <div class="b-nav__sub-c">
                                        <div class="b-text">
                                            <h2>Беговые дорожки</h2>
                                            <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне, кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной доступностью. Подробнее...</p>
                                        </div>
                                        <div class="row">
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima Solo</a></li>
                                                    <li><a href="index7.html">Optima Prima</a></li>
                                                    <li><a href="index7.html">Optima Olymp</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima OptiTrack 18</a></li>
                                                    <li><a href="index7.html">Optima OptiTrack 20</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <img src="images/content/menu-img.png" alt="беговые дорожки"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--
                                    -->
                    <li class="b-nav__item">
                        <a href="catalog4.html" class="b-nav__link">эллиптические</a>
                        <div class="b-nav__sub">
                            <div class="row row_8">
                                <div class="span7">
                                    <div class="b-nav__sub-c">
                                        <div class="b-text">
                                            <h2>Эллиптические дорожки</h2>
                                            <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне, кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной доступностью. Подробнее...</p>
                                        </div>
                                        <div class="row">
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima Solo</a></li>
                                                    <li><a href="index7.html">Optima Prima</a></li>
                                                    <li><a href="index7.html">Optima Olymp</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima OptiTrack 18</a></li>
                                                    <li><a href="index7.html">Optima OptiTrack 20</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <img src="images/content/menu-img.png" alt="беговые дорожки"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--
                                    -->
                    <li class="b-nav__item">
                        <a href="catalog4.html" class="b-nav__link">велотренажер</a>
                        <div class="b-nav__sub">
                            <div class="row row_8">
                                <div class="span7">
                                    <div class="b-nav__sub-c">
                                        <div class="b-text">
                                            <h2>Велотренажер дорожки</h2>
                                            <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне, кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной доступностью. Подробнее...</p>
                                        </div>
                                        <div class="row">
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima Solo</a></li>
                                                    <li><a href="index7.html">Optima Prima</a></li>
                                                    <li><a href="index7.html">Optima Olymp</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima OptiTrack 18</a></li>
                                                    <li><a href="index7.html">Optima OptiTrack 20</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <img src="images/content/menu-img.png" alt="беговые дорожки"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--
                                    -->
                    <li class="b-nav__item">
                        <a href="catalog4.html" class="b-nav__link">гибрид треник</a>
                        <div class="b-nav__sub">
                            <div class="row row_8">
                                <div class="span7">
                                    <div class="b-nav__sub-c">
                                        <div class="b-text">
                                            <h2>Гибрид дорожки</h2>
                                            <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне, кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной доступностью. Подробнее...</p>
                                        </div>
                                        <div class="row">
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima Solo</a></li>
                                                    <li><a href="index7.html">Optima Prima</a></li>
                                                    <li><a href="index7.html">Optima Olymp</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima OptiTrack 18</a></li>
                                                    <li><a href="index7.html">Optima OptiTrack 20</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <img src="images/content/menu-img.png" alt="беговые дорожки"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--
                                    -->
                    <li class="b-nav__item">
                        <a href="catalog4.html" class="b-nav__link">гребля</a>
                        <div class="b-nav__sub">
                            <div class="row row_8">
                                <div class="span7">
                                    <div class="b-nav__sub-c">
                                        <div class="b-text">
                                            <h2>Гребля дорожки</h2>
                                            <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне, кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной доступностью. Подробнее...</p>
                                        </div>
                                        <div class="row">
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima Solo</a></li>
                                                    <li><a href="index7.html">Optima Prima</a></li>
                                                    <li><a href="index7.html">Optima Olymp</a></li>
                                                </ul>
                                            </div>
                                            <div class="span3">
                                                <ul>
                                                    <li><a href="index7.html">Optima OptiTrack 18</a></li>
                                                    <li><a href="index7.html">Optima OptiTrack 20</a></li>
                                                </ul>s
                                            </div>
                                            <div class="span3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <img src="images/content/menu-img.png" alt="беговые дорожки"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--
                                    -->
                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">Оплата и доставка</a>
                    </li>
                    <!--
                                    -->
                    <li class="b-nav__item">
                        <a href="contacts.html" class="b-nav__link">контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>