<div class="b-rform @@classmod">
    <form action="/">
        <h2 class="b-rform__title">Оставьте отзыв</h2>

        <div class="b-form__el">
            <label class="b-form__label" for="bf-name">Ваше имя</label>
            <input class="b-form__text" type="text" id="bf-name"/>
        </div>
        <div class="b-form__el">
            <label class="b-form__label" for="bf-email">Электронная почта</label>
            <input class="b-form__text" type="email" id="bf-email"/>
        </div>
        <div class="b-form__el">
            <label class="b-form__label" for="bf-review">Отзыв</label>
            <textarea class="b-form__textarea" id="bf-review" rows="5"></textarea>
        </div>
        <div class="b-form__el">
            <div class="b-rating">
                <input name="itemid1" class="b-rating__star" type="radio" />
                <input name="itemid1" class="b-rating__star" type="radio" />
                <input name="itemid1" class="b-rating__star" type="radio" />
                <input name="itemid1" class="b-rating__star" type="radio" />
                <input name="itemid1" class="b-rating__star" type="radio" />
            </div>
        </div>
        <div class="b-form__el"><button class="rnd__button rnd__button_orange">добавить отзыв</button></div>
    </form>
</div>