<div class="b-paginator">
    <span class="b-paginator__text">Страница 1 из 10:</span>
    <span class="b-paginator__item"><a href="#" class="b-paginator__link">&larr;</a></span>
    <span class="b-paginator__item"><a href="#" class="b-paginator__link b-paginator__link_current">1</a></span>
    <span class="b-paginator__item"><a href="#" class="b-paginator__link">2</a></span>
    <span class="b-paginator__item"><a href="#" class="b-paginator__link">3</a></span>
    <span class="b-paginator__item"><a href="#" class="b-paginator__link">...</a></span>
    <span class="b-paginator__item"><a href="#" class="b-paginator__link">6</a></span>
    <span class="b-paginator__item"><a href="#" class="b-paginator__link">&rarr;</a></span>
</div>