<div class="b-widget">
    <ul class="b-widget__smenu">
        <li class="b-widget__smenu-item"><a href="#" class="b-widget__smenu-link b-widget__smenu-link_current">О Нас</a>
        </li>
        <li class="b-widget__smenu-item"><a href="news.html" class="b-widget__smenu-link">Новости</a></li>
        <li class="b-widget__smenu-item"><a href="#" class="b-widget__smenu-link">Доставка и Оплата</a></li>
        <li class="b-widget__smenu-item"><a href="#" class="b-widget__smenu-link">Условия возврата</a></li>
        <li class="b-widget__smenu-item"><a href="#" class="b-widget__smenu-link">Условия Гарантии</a></li>
        <li class="b-widget__smenu-item"><a href="faq.html" class="b-widget__smenu-link">FAQ</a></li>
        <li class="b-widget__smenu-item"><a href="registration_of_device.html" class="b-widget__smenu-link">Регистрация приобретенного
            тренажера</a></li>
        <li class="b-widget__smenu-item"><a href="instruction.html" class="b-widget__smenu-link">Инструкции</a></li>
        <li class="b-widget__smenu-item"><a href="#" class="b-widget__smenu-link">Устранение неисправностей</a></li>
        <li class="b-widget__smenu-item"><a href="service_request.html" class="b-widget__smenu-link">Оставить сервисную заявку</a></li>
        <li class="b-widget__smenu-item"><a href="service_diller.html" class="b-widget__smenu-link">Стать дилером</a></li>
        <li class="b-widget__smenu-item"><a href="where_to_buy.html" class="b-widget__smenu-link">Где купить</a></li>
        <li class="b-widget__smenu-item"><a href="video_fix.html" class="b-widget__smenu-link">Видео</a></li>
        <li class="b-widget__smenu-item"><a href="testimonials.html" class="b-widget__smenu-link">Отзывы покупателей</a></li>
        <li class="b-widget__smenu-item"><a href="contacts.html" class="b-widget__smenu-link">Контакты</a></li>
    </ul>
</div>