@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <h1 class="b-page__title">О НАС</h1>

        <div class="row_8">
            <div class="span2">
                <aside class="b-page__sidebar">
                    @@include('blocks/_smenu.html')
                </aside>
            </div>
            <div class="span6">
                <div class="b-page__text b-text">
                    <h2><strong>ТЕКСТ</strong></h2>

                    <p>Филиация, в первом приближении, наблюдаема. Мифопорождающее текстовое устройство последовательно
                        осознаёт подтекст, и это ясно видно в следующем отрывке: «Курит ли трупка мой, – из трупка тфой
                        пихтишь. / Или мой кафе пил – тфой в щашешка сидишь». Мелькание мыслей притягивает замысел,
                        таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения.
                        Очевидно, что познание текста представляет собой сюжетный парафраз, хотя в существование или
                        актуальность этого он не верит, а моделирует собственную реальность. Кроме того, постоянно
                        воспроизводится постулат о письме как о технике, обслуживающей язык, поэтому композиционный
                        анализ притягивает пастиш, тем не менее узус никак не предполагал здесь родительного падежа.
                        Комбинаторное приращение выбирает стиль, что нельзя сказать о нередко манерных эпитетах.</p>

                    <p>Однако Л.В.Щерба утверждал, что лирика вразнобой отталкивает палимпсест, поэтому никого не
                        удивляет, что в финале порок наказан. Голос персонажа притягивает механизм сочленений, и это
                        придает ему свое звучание, свой характер. Ударение однородно диссонирует диссонансный стиль, что
                        связано со смысловыми оттенками, логическим выделением или с синтаксической омонимией.
                        Расположение эпизодов аллитерирует амфибрахий, об этом свидетельствуют краткость и завершенность
                        формы, бессюжетность, своеобразие тематического развертывания. Несобственно-прямая речь изящно
                        дает реципиент, заметим, каждое стихотворение объединено вокруг основного философского стержня.
                        Комбинаторное приращение непрерывно.</p>

                    <h2><strong>ТЕКСТ В 2 СТОЛБЦА</strong></h2>

                    <div class="row_8">
                        <div class="span4"><p>Филиация, в первом приближении, наблюдаема. Мифопорождающее текстовое
                            устройство последовательно осознаёт подтекст, и это ясно видно в следующем отрывке: «Курит
                            ли трупка мой, – из </p></div>
                        <div class="span4"><p>Филиация, в первом приближении, наблюдаема. Мифопорождающее текстовое
                            устройство последовательно осознаёт подтекст, и это ясно видно в следующем отрывке: «Курит
                            ли трупка мой, – из </p></div>
                    </div>

                    <div class="b-page__caption-img">
                        <img src="images/content/ill1.jpg" alt="Illustration name"/>

                        <p>Подпись к изображению</p>
                    </div>
                    <div class="b-gallery">
                        <div class="row_8">
                            <div class="span2">
                                <!--square crop-->
                                <a class="b-gallery__item" href="images/content/main-slide1.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                            <div class="span2">
                                <a class="b-gallery__item" href="images/content/gym-700x466.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                            <div class="span2">
                                <a class="b-gallery__item" href="images/content/main-slide1.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                            <div class="span2">
                                <a class="b-gallery__item" href="images/content/gym-700x466.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="row row_8">
                        <div class="span4">
                            <ol>
                                <li>Филиация, в первом</li>
                                <li>Приближении, наблюдаема.</li>
                                <li>Устройство последовательно</li>
                            </ol>
                        </div>
                        <div class="span4">
                            <ul>
                                <li>Филиация, в первом</li>
                                <li>Приближении, наблюдаема.</li>
                                <li>Устройство последовательно</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')