@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <h1 class="b-page__title">ВАША КОРЗИНА</h1>
        <div class="b-cart__cart">
            <table class="b-cart__fintbl">
                <thead>
                <tr>
                    <th class="b-cart__fintbl-namecol">Наименование товара</th>
                    <th class="b-cart__fintbl-pricecol">Цена</th>
                    <th class="b-cart__fintbl-countcol">Количество</th>
                    <th class="b-cart__fintbl-sumcol">Сумма</th>
                    <th class="b-cart__fintbl-delcol">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="b-cart__fintbl-namecol">
                        <a class="b-cart__fintbl-item" href="#"
                           title="Беговая дорожка Optima Беговая дорожка Очень длинное название товара ла ла ла">
                            <img src="images/content/cart-item_89x96.jpg" alt="Беговая дорожка Optima"
                                 height="96" class="b-cart__fintbl-img">
                            <span class="b-cart__fintbl-name">Беговая дорожка Optima Беговая дорожка Очень длинное название товара ла ла ла</span>
                        </a>
                    </td>
                    <td><span class="price">18 535</span> руб</td>
                    <td>
                        <div class="b-cart__quant">
                            <span class="b-cart__quant-m">-</span>
                            <input data-min="1" type="text" value="1" class="b-form__-text b-cart__quant-i input-num" />
                            <span class="b-cart__quant-p">+</span>
                        </div>
                    </td>
                    <td><span class="total">18 535</span> руб</td>
                    <td><a class="b-cart__fintbl-del" href="#del" title="Удалить продукт"></a></td>
                </tr>
                <tr>
                    <td>
                        <a class="b-cart__fintbl-item" href="#" title="Беговая дорожка Optima">
                            <img src="images/content/cart-item_89x96.jpg" alt="Беговая дорожка Optima"
                                 height="96" class="b-cart__fintbl-img">
                            <span class="b-cart__fintbl-name">Беговая дорожка Optima</span>
                        </a>
                    </td>
                    <td><span class="price">18 535</span> руб</td>
                    <td>
                        <div class="b-cart__quant">
                            <span class="b-cart__quant-m">-</span>
                            <input data-min="10" type="text" value="10" class="b-form__-text b-cart__quant-i input-num" />
                            <span class="b-cart__quant-p">+</span>
                        </div>
                    </td>
                    <td><span class="total">18 535</span> руб</td>
                    <td><a class="b-cart__fintbl-del" href="#del" title="Удалить продукт"></a></td>
                </tr>
                </tbody>
            </table>
            <div class="b-cart__ttotal">
                Итого: <span class="num">18 535</span> руб
            </div>
            <div class="row">
                <div class="span3"><a href="catalog4.html" class="rnd__button rnd__button_orange">продолжить покупки</a></div>
                <div class="span6 rnd__right">
                    <button class="rnd__button">купить в 1 клик</button>
                    <a href="order.html" class="rnd__button rnd__button_blue">Оформить заказ</a>
                </div>
            </div>
        </div>
        <h2 class="rnd__dectitle">аксессуар как спецпредложение</h2>
        <div class="b-special">
            <div class="b-special__slider flexslider flexslider_nav clearfix">
                <ul class="slides">
                    <li>
                        <div class="b-special__item">
                            <div class="row">
                                <div class="span3">
                                    <a class="b-special__item-img">
                                        <img src="images/content/cat-item_190x190.jpg" alt="Image alt" />
                                    </a>
                                    <a class="b-special__link" href="#">Беговая дорожка OPTIMA</a>
                                    <div class="b-special__price">19 535 <span class="currency">руб</span></div>
                                </div>
                                <div class="span3">
                                    <a class="b-special__item-img">
                                        <img src="images/content/recomended-item-225x140.jpg" alt="Image alt" />
                                    </a>
                                    <a class="b-special__link" href="#">Беговая дорожка OPTIMA</a>
                                    <div class="b-special__price"><span class="oldprice">400 <span class="currency">руб</span></span> / 335 <span class="currency">руб</span></div>
                                </div>
                                <div class="span3">
                                    <div class="b-special__total">19 870 <span class="currency">руб</span></div>
                                    <div class="b-special__economy">Экономия <span>65</span> руб</div>
                                    <button class="rnd__button rnd__button_orange rnd__button_large b-special__buy">КУПИТЬ КОМПЛЕКТ</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="b-special__item">
                            <div class="row">
                                <div class="span3">
                                    <a class="b-special__item-img">
                                        <img src="images/content/cat-item_190x190.jpg" alt="Image alt" />
                                    </a>
                                    <a class="b-special__link" href="#">Беговая дорожка OPTIMA</a>
                                    <div class="b-special__price">19 535 <span class="currency">руб</span></div>
                                </div>
                                <div class="span3">
                                    <a class="b-special__item-img">
                                        <img src="images/content/recomended-item-225x140.jpg" alt="Image alt" />
                                    </a>
                                    <a class="b-special__link" href="#">Беговая дорожка OPTIMA</a>
                                    <div class="b-special__price"><span class="oldprice">400 <span class="currency">руб</span></span> / 335 <span class="currency">руб</span></div>
                                </div>
                                <div class="span3">
                                    <div class="b-special__total">19 870 <span class="currency">руб</span></div>
                                    <div class="b-special__economy">Экономия <span>65</span> руб</div>
                                    <button class="rnd__button rnd__button_orange rnd__button_large b-special__buy">КУПИТЬ КОМПЛЕКТ</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="b-recommended">
            <h2 class="rnd__dectitle">С этим товаром также покупают</h2>
            <div class="b-slider flexslider flexslider_control">
                <ul class="slides">
                    <li>
                        <div class="row row_8">
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "1"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "2"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "3"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "4"
                                })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row row_8">
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "5"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "6"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "7"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "8"
                                })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row row_8">
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "9"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "10"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "11"
                                })
                            </div>
                            <div class="span2">
                                @@include('blocks/_b-recomended-small.html', {
                                "id": "12"
                                })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')