@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <h1 class="b-page__title">КАТАЛОГ</h1>

        <div class="b-compare__list-wrap clearfix">
            <div class="b-compare__list">
                <div class="row">
                    <div class="span8">
                        В сравнении 3 товара: <span class="b-compare__list-item"><a href="#del" title="Удалить"></a>OptiTrack 18</span>
                        <span class="b-compare__list-item"><a href="#del" title="Удалить"></a>OptiTrack 18</span> <span
                            class="b-compare__list-item"><a href="#del" title="Удалить"></a>OptiTrack 18</span>
                    </div>
                    <div class="span1 rnd__right">
                        <a class="b-compare__list-link" href="#comparepage" title="Сравнить">Сравнить</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="rnd__banner" href="#"><img src="images/content/catalog-banner.jpg" alt="banner alt"/></a>
    </div>
    <div class="b-filter">
        <div class="container">
            <div class="row row_8">
                <div class="span6">
                    <h2 class="b-filter__title">Подбор по параметрам</h2>
                    <table class="b-filter__table">
                        <tr>
                            <td><label class="b-filter__label"><input type="checkbox"/>Компактные<sup>12</sup></label>
                            </td>
                            <td><label class="b-filter__label"><input type="checkbox"/>Популярные<sup>12</sup></label>
                            </td>
                            <td><label class="b-filter__label b-filter__label_disable"><input type="checkbox"
                                                                                              disabled="disabled"/>С
                                широким полотном<sup>0</sup></label></td>
                            <td><label class="b-filter__label"><input type="checkbox"/>Для серьезных
                                тренировок<sup>12</sup></label></td>
                        </tr>
                        <tr>
                            <td><label class="b-filter__label"><input type="checkbox"/>Компактные<sup>12</sup></label>
                            </td>
                            <td><label class="b-filter__label"><input type="checkbox"/>Популярные<sup>12</sup></label>
                            </td>
                            <td><label class="b-filter__label b-filter__label_disable"><input type="checkbox"
                                                                                              disabled="disabled"/>С
                                широким полотном<sup>0</sup></label></td>
                            <td><label class="b-filter__label"><input type="checkbox"/>Для серьезных
                                тренировок<sup>12</sup></label></td>
                        </tr>
                    </table>
                </div>
                <div class="span2">
                    <h2 class="b-filter__title">Подбор по стоимости</h2>

                    <div class="b-filter__price">
                        от <input data-min="100" type="text" value="100" class="b-form__text" id="filtermin"/> до <input
                            data-max="10000" type="text" value="10000" class="b-form__text" id="filtermax"/> руб
                        <div id="b-filter__slider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row_8">
            <div class="span4">
                @@include('blocks/_b-catalog-item.html', {
                "id": "1",
                "stocktext": "Есть в наличии",
                "classmod": "",
                "oldprice": "400 000 руб",
                "btnmodclass": ""
                })
            </div>
            <div class="span4">
                @@include('blocks/_b-catalog-item.html', {
                "id": "2",
                "stocktext": "Нет в наличии",
                "classmod": "b-catalog__stock_no",
                "oldprice": "",
                "btnmodclass": "rnd__button_disabled"
                })
            </div>
        </div>
        <div class="row_8">
            <div class="span4">
                @@include('blocks/_b-catalog-item.html', {
                "id": "3",
                "stocktext": "Нет в наличии",
                "classmod": "b-catalog__stock_no",
                "oldprice": "400 000 руб",
                "btnmodclass": "rnd__button_disabled"
                })
            </div>
            <div class="span4">
                @@include('blocks/_b-catalog-item.html', {
                "id": "4",
                "stocktext": "Есть в наличии",
                "classmod": "",
                "oldprice": "",
                "btnmodclass": ""
                })
            </div>
        </div>
        <div class="row_8">
            <div class="span4">
                @@include('blocks/_b-catalog-item.html', {
                "id": "5",
                "stocktext": "Нет в наличии",
                "classmod": "b-catalog__stock_no",
                "oldprice": "400 000 руб",
                "btnmodclass": "rnd__button_disabled"
                })
            </div>
            <div class="span4">
                @@include('blocks/_b-catalog-item.html', {
                "id": "6",
                "stocktext": "Есть в наличии",
                "classmod": "",
                "oldprice": "400 000 руб",
                "btnmodclass": ""
                })
            </div>
        </div>
        <div class="rnd__btnav">
            <div class="row_8">
                <div class="span4">
                    @@include('blocks/_paginator.html')
                </div>
                <div class="span4">
                    @@include('blocks/_item-count.html', {
                    "text": "Показать количество товаров на странице:"
                    })
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')