@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
<div class="container">
<div class="row_8">
    <div class="span6">
        <h1 class="b-page__title">СРАВНЕНИЕ ТОВАРОВ</h1>
    </div>
    <div class="span2 b-text">
        <p class="rnd__right"><a href="catalog4.html" title="Назад в архив новостей">&larr; вернуться к каталогу</a></p>
    </div>
</div>
<div class="b-compare__top">
    <div class="b-compare__management">
        <p><strong>Наименование</strong></p>

        <div class="b-compare__switch">
            <button data-action="all" class="b-compare__switch-btn active">Все параметры</button>
            <button data-action="diff" class="b-compare__switch-btn">Только отличия</button>
        </div>
        <p><a class="rnd__print" href="#">Распечатать</a></p>
        <!-- как я понимаю это уже делает сервер-->
        <p><a href="#">Отправить на эл. почту</a></p>
    </div>
    <div class="b-compare__items">
        <table class="b-compare__itable">
            <tr>
                <td>
                    <div class="b-compare__iheader">
                        <a class="b-compare__ilink" href="index7.html"><img src="images/content/cat-item_190x190.jpg"
                                                                          alt="Эллиптический тренажер OptiCross 21"/></a>
                        <a class="b-compare__irlink" href="#remove" title="Удалить"></a>
                    </div>
                </td>
                <td>
                    <div class="b-compare__iheader">
                        <a class="b-compare__ilink" href="index7.html"><img src="images/content/cat-item_190x190.jpg"
                                                                          alt="Эллиптический тренажер OptiCross 21"/></a>
                        <a class="b-compare__irlink" href="#remove" title="Удалить"></a>
                    </div>
                </td>
                <td>
                    <div class="b-compare__iheader">
                        <a class="b-compare__ilink" href="index7.html"><img src="images/content/cat-item_190x190.jpg"
                                                                          alt="Эллиптический тренажер OptiCross 21"/></a>
                        <a class="b-compare__irlink" href="#remove" title="Удалить"></a>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="b-compare__iname"><a href="index7.html">Эллиптический тренажер <strong>OptiCross 21</strong></a></td>
                <td class="b-compare__iname"><a href="index7.html">Эллиптический тренажер <strong>OptiCross 21</strong></a></td>
                <td class="b-compare__iname"><a href="index7.html">Эллиптический тренажер <strong>OptiCross 21</strong></a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="b-compare__rating">
                    <div class="b-rating">
                        <input name="itemid1" class="b-rating__star" type="radio"/>
                        <input name="itemid1" class="b-rating__star" type="radio"/>
                        <input name="itemid1" class="b-rating__star" type="radio"/>
                        <input name="itemid1" class="b-rating__star" type="radio"/>
                        <input name="itemid1" class="b-rating__star" type="radio"/>
                    </div>
                </td>
                <td class="b-compare__rating">
                    <div class="b-rating">
                        <input name="itemid2" class="b-rating__star" type="radio"/>
                        <input name="itemid2" class="b-rating__star" type="radio"/>
                        <input name="itemid2" class="b-rating__star" type="radio"/>
                        <input name="itemid2" class="b-rating__star" type="radio"/>
                        <input name="itemid2" class="b-rating__star" type="radio"/>
                    </div>
                </td>
                <td class="b-compare__rating">
                    <div class="b-rating">
                        <input name="itemid3" class="b-rating__star" type="radio"/>
                        <input name="itemid3" class="b-rating__star" type="radio"/>
                        <input name="itemid3" class="b-rating__star" type="radio"/>
                        <input name="itemid3" class="b-rating__star" type="radio"/>
                        <input name="itemid3" class="b-rating__star" type="radio"/>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="b-compare__ioldprice">400 000 руб</td>
                <td class="b-compare__ioldprice">400 000 руб</td>
                <td class="b-compare__ioldprice">400 000 руб</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="b-compare__iprice">535 123 руб</td>
                <td class="b-compare__iprice">535 123 руб</td>
                <td class="b-compare__iprice">535 123 руб</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <button class="rnd__button rnd__rnd__button rnd__rnd__button_small rnd__button_blue">В корзину
                    </button>
                </td>
                <td>
                    <button class="rnd__button rnd__rnd__button rnd__rnd__button_small rnd__button_blue">В корзину
                    </button>
                </td>
                <td>
                    <button class="rnd__button rnd__rnd__button rnd__rnd__button_small rnd__button_blue">В корзину
                    </button>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Мотор</h3>
    <table class="b-compare__table">
        <tr>
            <td>Мощность л.с.</td>
            <td class="tocompare">2,25 л.с.</td>
            <td class="tocompare">2,25 л.с.</td>
            <td class="tocompare">2,25 л.с.</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Тип двигателя</td>
            <td class="tocompare">Постоянный ток DC</td>
            <td class="tocompare">Постоянный ток DC</td>
            <td class="tocompare">Постоянный ток DC</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Конструкция</h3>
    <table class="b-compare__table">
        <tr>
            <td>Функция складывания</td>
            <td class="tocompare">Easy Drop System</td>
            <td class="tocompare">Easy Drop System</td>
            <td class="tocompare">Easy Drop System</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Амортизация</td>
            <td class="tocompare">Air Cushion M</td>
            <td class="tocompare">Air Cushion M</td>
            <td class="tocompare">Air Cushion M</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Диаметр роликов</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td class="tocompare"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Дека</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Беговое полотно</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Размеры бегового полотна</td>
            <td class="tocompare">1300 x 440 мм</td>
            <td class="tocompare">1300 x 441 мм</td>
            <td class="tocompare">1300 x 442 мм</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Технические характеристики:</h3>
    <table class="b-compare__table">
        <tr>
            <td>Регулировка скорости</td>
            <td class="tocompare">0,8-16 км/ч</td>
            <td class="tocompare">0,8-16 км/ч</td>
            <td class="tocompare">0,8-16 км/ч</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Регулировка скорости</td>
            <td class="tocompare">12 уровней</td>
            <td class="tocompare">12 уровней</td>
            <td class="tocompare">12 уровней</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Функциональность:</h3>
    <table class="b-compare__table">
        <tr>
            <td>Программы тренировки</td>
            <td class="tocompare">12</td>
            <td class="tocompare">12</td>
            <td class="tocompare">12</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Программы тренировки</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Контроль пульса</td>
            <td class="tocompare">Сенсоры в рукоятках</td>
            <td class="tocompare">Сенсоры в рукоятках</td>
            <td class="tocompare">Сенсоры в рукоятках</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Измерение жира Body FAT</td>
            <td class="tocompare">Есть</td>
            <td class="tocompare">Есть</td>
            <td class="tocompare">Есть</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td class="tocompare">LCD с подсветкой</td>
            <td class="tocompare">LCD с подсветкой</td>
            <td class="tocompare">LCD с подсветкой</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Аудио</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td class="tocompare">-</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Габариты:</h3>
    <table class="b-compare__table">
        <tr>
            <td>Размер в рабочем состоянии (Д*Ш*В)</td>
            <td class="tocompare">0,8-16 км/ч</td>
            <td class="tocompare">0,8-16 км/ч</td>
            <td class="tocompare">0,8-16 км/ч</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Размер в сложенном состоянии (Д*Ш*В)</td>
            <td class="tocompare">12 уровней</td>
            <td class="tocompare">12 уровней</td>
            <td class="tocompare">12 уровней</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Максимальный вес пользователя</td>
            <td class="tocompare">110 кг</td>
            <td class="tocompare">110 кг</td>
            <td class="tocompare">110 кг</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Вес Нетто</td>
            <td class="tocompare">58 кг</td>
            <td class="tocompare">58 кг</td>
            <td class="tocompare">58 кг</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Вес Брутто</td>
            <td class="tocompare">66 кг</td>
            <td class="tocompare">66 кг</td>
            <td class="tocompare">70 кг</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Сертификация:</h3>
    <table class="b-compare__table">
        <tr>
            <td>Сертификаты</td>
            <td class="tocompare">CE, RoHS, EN-957</td>
            <td class="tocompare">CE, RoHS, EN-957</td>
            <td class="tocompare">CE, RoHS, EN-957</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
</div>
</div>
@@include('blocks/_b-footer.html')