@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <h1 class="b-page__title">FAQ ответы на частые вопросы</h1>

        <div class="row_8">
            <div class="span2">
                <aside class="b-page__sidebar">
                    @@include('blocks/_smenu.html')
                </aside>
            </div>
            <div class="span6 b-text">
                <div class="b-faq">
                    <h2 class="b-faq__title"><span class="b-faq__t-text">FAQ ответы на частые вопросы</span></h2>

                    <div class="b-faq__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi consectetur
                            dignissimos doloremque dolores exercitationem explicabo fugit harum, hic illo in ipsum
                            libero natus odio officiis omnis pariatur possimus quisquam repudiandae suscipit temporibus
                            vitae. A aliquam aperiam atque autem consequatur culpa cum deserunt doloremque eveniet, fuga
                            harum ipsam itaque laudantium minus mollitia, neque nesciunt odit provident saepe, sapiente
                            tempora tempore ut? Aut consequuntur debitis dolores, fugit inventore, ipsa molestias nihil
                            nisi provident quisquam reprehenderit tenetur totam unde? Accusantium aperiam at, culpa
                            deleniti dolore ducimus eaque eos ex facere illum in non possimus, quos reprehenderit totam?
                            Architecto eligendi ipsum tempore?</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti deserunt
                            dignissimos doloremque ducimus eligendi, expedita facilis harum modi molestiae nobis odio,
                            omnis placeat possimus quasi quibusdam quis quod sed sunt, temporibus ullam ut veniam
                            veritatis? At corporis deserunt dolores doloribus eum ex ipsa ipsum itaque, officiis quam
                            quisquam ratione.</p>
                    </div>
                </div>
                <div class="b-faq">
                    <h2 class="b-faq__title"><span class="b-faq__t-text">FAQ ответы на частые вопросы</span></h2>

                    <div class="b-faq__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi consectetur
                            dignissimos doloremque dolores exercitationem explicabo fugit harum, hic illo in ipsum
                            libero natus odio officiis omnis pariatur possimus quisquam repudiandae suscipit temporibus
                            vitae. A aliquam aperiam atque autem consequatur culpa cum deserunt doloremque eveniet, fuga
                            harum ipsam itaque laudantium minus mollitia, neque nesciunt odit provident saepe, sapiente
                            tempora tempore ut? Aut consequuntur debitis dolores, fugit inventore, ipsa molestias nihil
                            nisi provident quisquam reprehenderit tenetur totam unde? Accusantium aperiam at, culpa
                            deleniti dolore ducimus eaque eos ex facere illum in non possimus, quos reprehenderit totam?
                            Architecto eligendi ipsum tempore?</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti deserunt
                            dignissimos doloremque ducimus eligendi, expedita facilis harum modi molestiae nobis odio,
                            omnis placeat possimus quasi quibusdam quis quod sed sunt, temporibus ullam ut veniam
                            veritatis? At corporis deserunt dolores doloribus eum ex ipsa ipsum itaque, officiis quam
                            quisquam ratione.</p>
                    </div>
                </div>
                <div class="b-faq">
                    <h2 class="b-faq__title"><span class="b-faq__t-text">FAQ ответы на частые вопросы</span></h2>

                    <div class="b-faq__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi consectetur
                            dignissimos doloremque dolores exercitationem explicabo fugit harum, hic illo in ipsum
                            libero natus odio officiis omnis pariatur possimus quisquam repudiandae suscipit temporibus
                            vitae. A aliquam aperiam atque autem consequatur culpa cum deserunt doloremque eveniet, fuga
                            harum ipsam itaque laudantium minus mollitia, neque nesciunt odit provident saepe, sapiente
                            tempora tempore ut? Aut consequuntur debitis dolores, fugit inventore, ipsa molestias nihil
                            nisi provident quisquam reprehenderit tenetur totam unde? Accusantium aperiam at, culpa
                            deleniti dolore ducimus eaque eos ex facere illum in non possimus, quos reprehenderit totam?
                            Architecto eligendi ipsum tempore?</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti deserunt
                            dignissimos doloremque ducimus eligendi, expedita facilis harum modi molestiae nobis odio,
                            omnis placeat possimus quasi quibusdam quis quod sed sunt, temporibus ullam ut veniam
                            veritatis? At corporis deserunt dolores doloribus eum ex ipsa ipsum itaque, officiis quam
                            quisquam ratione.</p>
                    </div>
                </div>
                <div class="b-faq">
                    <h2 class="b-faq__title"><span class="b-faq__t-text">FAQ ответы на частые вопросы</span></h2>

                    <div class="b-faq__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci commodi consectetur
                            dignissimos doloremque dolores exercitationem explicabo fugit harum, hic illo in ipsum
                            libero natus odio officiis omnis pariatur possimus quisquam repudiandae suscipit temporibus
                            vitae. A aliquam aperiam atque autem consequatur culpa cum deserunt doloremque eveniet, fuga
                            harum ipsam itaque laudantium minus mollitia, neque nesciunt odit provident saepe, sapiente
                            tempora tempore ut? Aut consequuntur debitis dolores, fugit inventore, ipsa molestias nihil
                            nisi provident quisquam reprehenderit tenetur totam unde? Accusantium aperiam at, culpa
                            deleniti dolore ducimus eaque eos ex facere illum in non possimus, quos reprehenderit totam?
                            Architecto eligendi ipsum tempore?</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti deserunt
                            dignissimos doloremque ducimus eligendi, expedita facilis harum modi molestiae nobis odio,
                            omnis placeat possimus quasi quibusdam quis quod sed sunt, temporibus ullam ut veniam
                            veritatis? At corporis deserunt dolores doloribus eum ex ipsa ipsum itaque, officiis quam
                            quisquam ratione.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')