@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page b-page_gray">
<div class="b-fitem">
    <div class="container">
        <div class="row row_8">
            <div class="span4">
                <div class="b-fitem__slider flexslider flexslider_nav" id="itemslider_1">
                    <ul class="slides">
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide1.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide2.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide3.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide4.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide5.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide6.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gyt"
                               href="http://www.youtube.com/embed/VOJyrQa_WR4"><img
                                src="images/content/slide7.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/cart-item_430x430.jpg" alt="беговая дорожка optima"/></a></li>
                    </ul>
                </div>

            </div>
            <div class="span4">
                <h1 class="b-fitem__title">беговая дорожка <span class="man">optima</span></h1>

                <div class="b-fitem__description b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме
                        того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
                <div class="b-rating">
                    <input name="item_inid1" class="b-rating__star" type="radio"/>
                    <input name="item_inid1" class="b-rating__star" type="radio"/>
                    <input name="item_inid1" class="b-rating__star" type="radio"/>
                    <input name="item_inid1" class="b-rating__star" type="radio"/>
                    <input name="item_inid1" class="b-rating__star" type="radio"/>
                </div>
                <div class="row row_8">
                    <div class="span4">
                        <div class="b-catalog__old-price">400 000 руб</div>
                        <div class="b-catalog__price">535 000 руб</div>
                    </div>
                    <div class="span4">
                        <span class="b-catalog__stock">Есть в наличии</span>&nbsp;<label
                            class="b-catalog__tocompare"><input
                            type="checkbox"> К сравнению</label>
                        <button class="rnd__button rnd__button_blue rnd__button_block rnd__button_small">В корзину
                        </button>
                    </div>
                </div>
                <div class="b-slider flexslider flexslider_control" id="itemslider_1_nav">
                    <ul class="slides">
                        <li>
                            <div class="row row_8">
                                <div class="span2"><a class="b-fitem__navlink active" href="#" data-slide="1"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide1_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="2"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide2_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="3"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide3_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="4"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide4_107_107.jpg"
                                                                                      alt=""/></a></div>
                            </div>
                        </li>
                        <li>
                            <div class="row row_8">
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="5"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide5_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="6"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide6_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="7"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide7_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="8"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/cart-item_89x96.jpg"
                                                                                      alt=""/></a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-marquee">
    <div class="container">
        <ul class="b-marquee__list">
            <li class="b-marquee__item">
                <span class="icon-61 b-marquee__item-icon"></span>
                Мощность двигателя
                <div class="b-marquee__item-num">2,5 <span>ps</span></div>
            </li>
            <li class="b-marquee__item">
                <span class="icon-62 b-marquee__item-icon"></span>
                Наклон
                <div class="b-marquee__item-num">0-15%</div>
            </li>
            <li class="b-marquee__item">
                <span class="icon-63 b-marquee__item-icon"></span>
                Скорость
                <div class="b-marquee__item-num">0,8-20 <span>km/h</span></div>
            </li>
            <li class="b-marquee__item">
                <span class="icon-64 b-marquee__item-icon"></span>
                Количество программ
                <div class="b-marquee__item-num">1200x250 <span>cm</span></div>
            </li>
        </ul>
    </div>
</div>
<div class="b-features" id="features">
<div class="b-itemmenu">
    <div class="container">
        <!--<a class="b-itemmenu__link active" href="#">ВСЕ</a>-->
        <a class="b-itemmenu__link anim-scroll" href="#features">преимущества</a>
        <a class="b-itemmenu__link anim-scroll" href="#characteristics">Спецификация</a>
        <a class="b-itemmenu__link anim-scroll" href="#reviews">отзывы</a>
        <a class="b-itemmenu__link anim-scroll" href="#accessories">Аксессуары</a>
        <a class="b-itemmenu__top anim-scroll" href="#top"></a>
    </div>
</div>
<div class="container">
<h2 class="rnd__dectitle">преимущества</h2>

<div class="b-features__item" id="featureitem1" style="display:block;">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__item" id="featureitem2">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__item" id="featureitem3">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__item" id="featureitem4">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__item" id="featureitem5">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__item" id="featureitem6">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__item" id="featureitem7">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__item" id="featureitem8">
    <div class="row_8">
        <div class="span4">
            <div class="b-features__item-img">
                <img src="images/content/featured1.jpg" alt="featured1_prev.jpg"/>
            </div>
        </div>
        <div class="span4">
            <div class="b-features__item-cont">
                <h3>Самая самая беговая дорожка <strong>optima</strong></h3>

                <div class="b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-features__pislider flexslider flexslider_control">
    <ul class="slides">
        <li>
            <div class="row row_8">
                <div class="span2">
                    <div class="b-features__pitem active" data-item="1">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Уникальное инженерное решение</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой
                                системы координат. Проекция </p>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="b-features__pitem" data-item="2">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Аудио фишки</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой системы
                                координат. Проекция</p>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="b-features__pitem" data-item="3">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Переменная демпфирования система</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой
                                системы координат. Проекция </p>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="b-features__pitem" data-item="4">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Переменная демпфирования система</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой
                                системы координат. Проекция </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row row_8">
                <div class="span2">
                    <div class="b-features__pitem" data-item="5">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Уникальное инженерное решение</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой
                                системы координат. Проекция </p>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="b-features__pitem" data-item="6">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Уникальное инженерное решение</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой
                                системы координат. Проекция </p>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="b-features__pitem" data-item="7">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Уникальное инженерное решение</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой
                                системы координат. Проекция </p>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="b-features__pitem" data-item="8">
                        <img src="images/content/featured1_prev.jpg" alt="Уникальное инженерное решение"/>

                        <h3>Уникальное инженерное решение</h3>

                        <div class="b-text">
                            <p>Вращение характеризует экваториальный момент, составляя уравнения Эйлера для этой
                                системы координат. Проекция </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
</div>
<div class="b-characteristics" id="characteristics">
    <div class="container">
        <h2 class="rnd__dectitle">Технические характеристики</h2>

        <div class="row row_8">
            <div class="span7 offset1">
                <div class="b-characteristics__item">
                    <div class="row_8">
                        <div class="span2">
                            <h2>Мотор</h2>
                        </div>
                        <div class="span6">
                            <table class="b-characteristics__table">
                                <tr>
                                    <td>Мощность л.с.</td>
                                    <td>2,25 л.с.</td>
                                </tr>
                                <tr>
                                    <td>Тип двигателя</td>
                                    <td>Постоянный ток DC</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="b-characteristics__item">
                    <div class="row_8">
                        <div class="span2">
                            <h2>Конструкция</h2>
                        </div>
                        <div class="span6">
                            <table class="b-characteristics__table">
                                <tr>
                                    <td>Функция складывания</td>
                                    <td>Easy Drop System</td>
                                </tr>
                                <tr>
                                    <td>Амортизация</td>
                                    <td>Air Cushion MC</td>
                                </tr>
                                <tr>
                                    <td>Диаметр роликов</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Дека</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Беговое полотно</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Размеры бегового полотна</td>
                                    <td>1300 x 440 мм</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="b-characteristics__item">
                    <div class="row_8">
                        <div class="span2">
                            <h2>Мотор</h2>
                        </div>
                        <div class="span6">
                            <table class="b-characteristics__table">
                                <tr>
                                    <td>Мощность л.с.</td>
                                    <td>2,25 л.с.</td>
                                </tr>
                                <tr>
                                    <td>Тип двигателя</td>
                                    <td>Постоянный ток DC</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="b-characteristics__item">
                    <div class="row_8">
                        <div class="span2">
                            <h2>Технические характеристики:</h2>
                        </div>
                        <div class="span6">
                            <table class="b-characteristics__table">
                                <tr>
                                    <td>Регулировка скорости</td>
                                    <td>0,8-16 км/ч</td>
                                </tr>
                                <tr>
                                    <td>Регулировка наклона</td>
                                    <td>12 уровней</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="b-characteristics__item">
                    <div class="row_8">
                        <div class="span2">
                            <h2>Функциональность:</h2>
                        </div>
                        <div class="span6">
                            <table class="b-characteristics__table">
                                <tr>
                                    <td>Программы тренировки</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Пользовательские программы</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Контроль пульса</td>
                                    <td>Сенсоры в рукоятках</td>
                                </tr>
                                <tr>
                                    <td>Измерение жира Body FAT</td>
                                    <td>Есть</td>
                                </tr>
                                <tr>
                                    <td>Дисплей</td>
                                    <td>LCD с подсветкой</td>
                                </tr>
                                <tr>
                                    <td>Аудио</td>
                                    <td>-C</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="b-characteristics__item">
                    <div class="row_8">
                        <div class="span2">
                            <h2>Сертификация:</h2>
                        </div>
                        <div class="span6">
                            <table class="b-characteristics__table">
                                <tr>
                                    <td>Сертификаты</td>
                                    <td>CE, RoHS, EN-957.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="b-line__bdshd" id="reviews">
    <div class="container">
        <h2 class="rnd__dectitle">отзывы</h2>

        <div class="row_8">
            <div class="span5">
                @@include('blocks/_b-review.html', {
                "id": "1"
                })
                @@include('blocks/_b-review.html', {
                "id": "2"
                })
                @@include('blocks/_b-review.html', {
                "id": "3"
                })
            </div>
            <div class="span3">
                @@include('blocks/_b-review-form.html', {
                })
            </div>
        </div>
    </div>
</div>
<section class="b-line b-line_recomended" id="accessories">
    <div class="container">
        <h2 class="rnd__dectitle">Рекомендуем обратить внимание!</h2>

        <div class="row row_8">
            <div class="span2">
                @@include('blocks/_b-recomended-small.html', {
                "id": "9"
                })
            </div>
            <div class="span2">
                @@include('blocks/_b-recomended-small.html', {
                "id": "10"
                })
            </div>
            <div class="span2">
                @@include('blocks/_b-recomended-small.html', {
                "id": "11"
                })
            </div>
            <div class="span2">
                @@include('blocks/_b-recomended-small.html', {
                "id": "12"
                })
            </div>
        </div>
    </div>
</section>
<div class="b-fitem b-fitem_bottom">
    <div class="container">
        <h2 class="rnd__dectitle">вы просматриваете беговая дорожка optima</h2>

        <div class="row row_8">
            <div class="span4">
                <div class="b-fitem__slider flexslider flexslider_nav" id="itemslider_2">
                    <ul class="slides">
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide1.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide2.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide3.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide4.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide5.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/slide6.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gyt"
                               href="http://www.youtube.com/embed/VOJyrQa_WR4"><img
                                src="images/content/slide7.jpg" alt="беговая дорожка optima"/></a></li>
                        <li><a class="b-fitem__slider-l b-fitem_gl" href="images/content/cart-item_430x430.jpg"><img
                                src="images/content/cart-item_430x430.jpg" alt="беговая дорожка optima"/></a></li>
                    </ul>
                </div>

            </div>
            <div class="span4">
                <div class="b-fitem__description b-text">
                    <p>Беговые дорожки Optima Fitness характеризует функциональность реализованная в стильном дизайне,
                        кроме
                        того тренажеры обладают высоким качеством исполнения в сочетании с максимальной
                        доступностью.</p>
                </div>
                <div class="b-rating">
                    <input name="item_inid2" class="b-rating__star" type="radio"/>
                    <input name="item_inid2" class="b-rating__star" type="radio"/>
                    <input name="item_inid2" class="b-rating__star" type="radio"/>
                    <input name="item_inid2" class="b-rating__star" type="radio"/>
                    <input name="item_inid2" class="b-rating__star" type="radio"/>
                </div>
                <div class="row row_8">
                    <div class="span4">
                        <div class="b-catalog__old-price">400 000 руб</div>
                        <div class="b-catalog__price">535 000 руб</div>
                    </div>
                    <div class="span4">
                        <span class="b-catalog__stock">Есть в наличии</span>&nbsp;<label
                            class="b-catalog__tocompare"><input
                            type="checkbox"> К сравнению</label>
                        <button class="rnd__button rnd__button_blue rnd__button_block rnd__button_small">В корзину
                        </button>
                    </div>
                </div>
                <div class="b-slider flexslider flexslider_control" id="itemslider_2_nav">
                    <ul class="slides">
                        <li>
                            <div class="row row_8">
                                <div class="span2"><a class="b-fitem__navlink active" href="#" data-slide="1"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide1_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="2"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide2_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="3"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide3_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="4"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide4_107_107.jpg"
                                                                                      alt=""/></a></div>
                            </div>
                        </li>
                        <li>
                            <div class="row row_8">
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="5"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide5_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="6"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide6_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="7"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/slide7_107_107.jpg"
                                                                                      alt=""/></a></div>
                                <div class="span2"><a class="b-fitem__navlink" href="#" data-slide="8"
                                                      data-slider="itemslider_1"><img class="b-fitem__navimg"
                                                                                      src="images/content/cart-item_89x96.jpg"
                                                                                      alt=""/></a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@@include('blocks/_b-footer.html')