@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <div class="row_8">
            <div class="span6">
                <h1 class="b-page__title">Поступили в продажу эллиптические тренажеры Sole Fitness E35, E95, беговые
                    дорожки Sole Fitness F85</h1>
            </div>
            <div class="span2 b-text">
                <p class="rnd__right"><a href="#" title="Назад в архив новостей">Вернуться к списку</a></p>
            </div>
        </div>

        <div class="row_8">
            <div class="span2">
                <aside class="b-page__sidebar">
                    @@include('blocks/_smenu.html')
                </aside>
            </div>
            <div class="span6">
                <div class="b-page__text b-text">
                    <p>Система координат неустойчиво даёт большую проекцию на оси, чем астатический установившийся
                        режим, пользуясь последними системами уравнений. Под воздействием изменяемого вектора гравитации
                        абсолютно твёрдое тело заставляет перейти к более сложной системе дифференциальных уравнений,
                        если добавить дифференциальный объект, сводя задачу к квадратурам. Траектория различна.
                        Систематический уход, несмотря на некоторую погрешность, не зависит от скорости вращения
                        внутреннего кольца подвеса, что не </p>

                    <div class="row_8">
                        <div class="span4"><p>Филиация, в первом приближении, наблюдаема. Мифопорождающее текстовое
                            устройство последовательно осознаёт подтекст, и это ясно видно в следующем отрывке: «Курит
                            ли трупка мой, – из </p></div>
                        <div class="span4"><p>Филиация, в первом приближении, наблюдаема. Мифопорождающее текстовое
                            устройство последовательно осознаёт подтекст, и это ясно видно в следующем отрывке: «Курит
                            ли трупка мой, – из </p></div>
                    </div>

                    <div class="b-page__caption-img">
                        <img src="images/content/ill1.jpg" alt="Illustration name"/>

                        <p>Подпись к изображению</p>
                    </div>
                    <div class="b-gallery">
                        <div class="row_8">
                            <div class="span2">
                                <!--square crop-->
                                <a class="b-gallery__item" href="images/content/main-slide1.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                            <div class="span2">
                                <a class="b-gallery__item" href="images/content/gym-700x466.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                            <div class="span2">
                                <a class="b-gallery__item" href="images/content/main-slide1.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                            <div class="span2">
                                <a class="b-gallery__item" href="images/content/gym-700x466.jpg"><img
                                        src="images/content/preview_103x103.jpg" alt="Image alt"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="rnd__info">
                        <p>Система координат неустойчиво даёт большую проекцию на оси, чем астатический установившийся
                            режим, пользуясь последними системами уравнений. Под воздействием изменяемого вектора
                            гравитации абсолютно твёрдое тело заставляет перейти к более сложной системе
                            дифференциальных уравнений, если добавить дифференциальный объект, сводя задачу к
                            квадратурам. Траектория различна. Систематический уход, несмотря на некоторую погрешность,
                            не зависит от скорости вращения внутреннего кольца подвеса, что не кажется</p>
                    </div>
                </div>
                <div class="b-recentpost">
                    <h2 class="b-recentpost__title">Так же новое в архиве новостей</h2>

                    <div class="row_8">
                        <div class="span4">
                            <article class="b-pnews b-pnews_small">
                                <h2 class="b-pnews__title"><a href="news_item.html">Заголовок новости без превьюшкой</a>
                                </h2>
                                <time class="b-pnews__date" datetime="2014-01-18">18 января 2014</time>
                                <div class="b-pnews__content">
                                    <div class="b-pnews__text b-text"><p>Система координат неустойчиво даёт большую
                                        проекцию
                                        на оси, чем астатический установившийся режим, пользуясь последними системами
                                        уравнений.</p></div>
                                </div>
                            </article>
                        </div>
                        <div class="span4">
                            <article class="b-pnews b-pnews_small">
                                <h2 class="b-pnews__title"><a href="news_item.html">Заголовок новости без превьюшкой</a>
                                </h2>
                                <time class="b-pnews__date" datetime="2014-01-18">18 января 2014</time>
                                <div class="b-pnews__content">
                                    <div class="b-pnews__text b-text"><p>Система координат неустойчиво даёт большую
                                        проекцию
                                        на оси, чем астатический установившийся режим, пользуясь последними системами
                                        уравнений.</p></div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="b-page__comments">
                    <img src="images/content/hypercomment.jpg" alt="Это муляж. Тут должен быть скрипт комментов"
                         style="width:100%;"/>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')