@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <div class="row_8">
            <h1 class="b-page__title">Регистрация приобретенного тренажера</h1>
        </div>
        <div class="row_8">
            <div class="span2">
                <aside class="b-page__sidebar">
                    @@include('blocks/_smenu.html')
                </aside>
            </div>
            <div class="span6">
                <div class="b-text">
                    <!--текст не изменяет регистр при помощи таблицы стилей-->
                    <h2><strong>2 ГОДА ГАРАНТИИ ПРЕДОСТАВЛЯЕТСЯ ТОЛЬКО ПОСЛЕ<br />РЕГИСТРАЦИИ ТРЕНАЖЕРА НА САЙТЕ!</strong></h2>
                </div>
                <table class="b-form__table b-form__table_page">
                    <tr>
                        <td><label for="bc-lastname" class="b-form__label">Фамилия:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-lastname"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-firstname" class="b-form__label">Имя:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-firstname"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-midname" class="b-form__label">Отчество:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-midname"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-tel" class="b-form__label">Телефон:</label></td>
                        <td><input type="tel" class="b-form__text b-form__text_tel" id="bc-tel" placeholder="(***) ***-****"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-email" class="b-form__label">Электронная почта:</label></td>
                        <td><input type="text" class="b-form__text" id="bc-email"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-adress" class="b-form__label">Адрес установки:</label></td>
                        <td><textarea class="b-form__textarea" id="bc-adress" rows="5"></textarea></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-model" class="b-form__label">Модель тренажера:</label></td>
                        <td>
                            <select class="b-form__select" id="bc-model">
                                <option value="">Модель тренжера</option>
                                <option value="">Модель 1</option>
                                <option value="">Модель 2</option>
                                <option value="">Модель 3</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-talon" class="b-form__label">Гарантийный талон №:</label></td>
                        <td><input type="text" class="b-form__text" id="bc-talon"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-sn" class="b-form__label">Серийный номер №:</label></td>
                        <td><input type="text" class="b-form__text" id="bc-sn"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-date" class="b-form__label">Дата приобретения:</label></td>
                        <td><input type="text" class="b-form__text b-form_datepicker" id="bc-date"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-expluatation" class="b-form__label">Эксплуатация</label></td>
                        <td>
                            <select class="b-form__select" id="bc-expluatation">
                                <option value="">Домашняя</option>
                                <option value="">Не домашняя</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="rnd__button rnd__button_blue rnd__button_small" type="submit">Зарегистрировать</button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span class="b-form__rtext">* поля для обязательного заполнения</span></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')