@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <div class="row_8">
            <h1 class="b-page__title">Стать дилером</h1>
        </div>
        <div class="row_8">
            <div class="span7">
                <table class="b-form__table b-form__table_page">
                    <tr>
                        <td><label for="bc-rgn" class="b-form__label">Регистрационный номер:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text b-form__text_num" id="bc-rgn"></td>
                        <td><span class="b-form__help b-form__help_cell"><a href="registration_of_device.html">пройти регистрацию тренажера</a></span></td>
                    </tr>
                    <tr>
                        <td><label for="bc-lastname" class="b-form__label">Фамилия:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-lastname"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-firstname" class="b-form__label">Имя:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-firstname"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-midname" class="b-form__label">Отчество:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-midname"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-tel" class="b-form__label">Телефон:</label></td>
                        <td><input type="tel" class="b-form__text b-form__text_tel" id="bc-tel" placeholder="(***) ***-****"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-email" class="b-form__label">Электронная почта:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-email"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-site" class="b-form__label">Сайт:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="url" class="b-form__text" id="bc-site"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-company" class="b-form__label">Наименование компании:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-company"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-uadress" class="b-form__label">Юридический адрес:<sup class="b-form__required">*</sup></label></td>
                        <td><textarea class="b-form__textarea" id="bc-uadress" rows="5"></textarea></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-fadress" class="b-form__label">Фактический адрес:<sup class="b-form__required">*</sup></label></td>
                        <td><textarea class="b-form__textarea" id="bc-fadress" rows="5"></textarea></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-inn" class="b-form__label">ИНН/КПП:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-inn"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-raccount" class="b-form__label">Расчетный счет:*<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-raccount"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-bank" class="b-form__label">В банке:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-bank"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-corraccount" class="b-form__label">Корр. счет:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-corraccount"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-bik" class="b-form__label">БИК:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-bik"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-postchief" class="b-form__label">Должность руководителя:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-postchief"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-fiochief" class="b-form__label">ФИО руководителя:<sup class="b-form__required">*</sup></label></td>
                        <td><input type="text" class="b-form__text" id="bc-fiochief"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="bc-tax" class="b-form__label">Налогооблажение:</label></td>
                        <td>
                            <select class="b-form__select" id="bc-tax">
                                <option value="">Плательщик НДС</option>
                                <option value="">Не плательщик НДС</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="rnd__button rnd__button_blue rnd__button_small" type="submit">отправить</button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span class="b-form__rtext">* поля для обязательного заполнения</span></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')