@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page">
    <div class="container">
        <h1 class="b-page__title">Видео по устранению неисправностей</h1>
        <div class="row_8">
            <div class="span2">
                <aside class="b-page__sidebar">
                    @@include('blocks/_smenu.html')
                </aside>
            </div>
            <div class="span6 b-text">
                <h2>БЕГОВАЯ ДОРОЖКА</h2>
                <div class="b-video">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/LDlxdmmEGJ4" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2>БЕГОВАЯ ДОРОЖКА</h2>
                <div class="b-video">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/LDlxdmmEGJ4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')