@@include('blocks/_b-header.html')
@@include('blocks/_b-breadcrumb.html')
<div class="b-page b-page_wb">
    <div class="container">
        <h1 class="b-page__title">ГДЕ КУПИТЬ</h1>

        <div class="row_8">
            <div class="span2">
                <span class="b-where-buy__letter">А</span>
                <a class="b-where-buy__city colorbox-inline" href="#cityid">Адлер</a>
                <!--нужно закончить програминг для карты. В джейквери фуннкция которая вызываеться после клика подписана как where to buy map function -->
                <div style="display:none;">
                    <div class="b-where-buy__popup" id="cityid">
                        <div class="row">
                            <div class="span3">
                                <div class="b-where-buy__m-item b-text">
                                    <p><a class="b-where-buy__gomap" href="#">Магазин &laquo;Все для спорта&raquo;,</a><br />ул. Мира, 32, тел. 8-800-153-65-12</p>
                                </div>
                                <div class="b-where-buy__m-item b-text">
                                    <p><a class="b-where-buy__gomap" href="#">Магазин &laquo;Фитнес жизнь&raquo;,</a><br />ул. Ударная, 10,<br />тел. 8-800-153-65-12<br />сайт:
                                        <a href="//www.fitnes-life.ru" target="_blank">www.fitnes-life.ru</a><br />эл. почта
                                        <a href="mailto:info@mail.ru">info@mail.ru</a></p>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="b-map b-map_wb">
                                    <script async type="text/javascript" charset="utf-8"
                                            src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=V1QzmoNtYlcBQ4HoWu5B8sBOvAm2tYCr"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <span class="b-where-buy__letter">Б</span>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">В</span>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Д</span>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Е</span>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
            </div>
            <div class="span2">
                <span class="b-where-buy__letter">И</span>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">К</span>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Л</span>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">М</span>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Н</span>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
            </div>
            <div class="span2">
                <span class="b-where-buy__letter">О</span>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">П</span>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Р</span>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <span class="b-where-buy__letter">С</span>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
            </div>
            <div class="span2">
                <span class="b-where-buy__letter">Т</span>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Архангельск</a>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">У</span>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Х</span>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Ч</span>
                <a class="b-where-buy__city" href="#cityid">Астрахань</a>
                <a class="b-where-buy__city" href="#cityid">Адлер</a>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Э</span>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Ю</span>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
                <span class="b-where-buy__letter">Я</span>
                <a class="b-where-buy__city" href="#cityid">Арсеньев</a>
                <a class="b-where-buy__city" href="#cityid">Артем</a>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')