.b-catalog {

    &__title {
        font-size: em(24);
        font-family: $second-font;
        font-weight: 300;
        color: #464646;
        padding-bottom: em(47, 24);
        &-tm {
            color: #f26522;
            font-weight: 700;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    &__item {
        border-bottom: 3px solid #d0d0d0;
        padding: em(28) 0 em(23) em(18);
        margin-bottom: em(12);
        .star-rating-control {
            display: inline-block;
        }
        .b-rating {
            text-align: center;
            padding: em(12) em(20) em(5) 0;
        }
        .star-rating {
            width: 21px;
            height: 19px;
        }
    }
    &__label {

    }
    &__old-price {
        $font-size: 14;
        font-size: em(14);
        color: #898989;
        font-family: $second-font;
        padding: em(18, 24) 0 em(1, 24);
        text-decoration: line-through;
        height: em(21, $font-size);
    }
    &__price {
        color: #f26522;
        font-family: $second-font;
        font-size: em(24);
        font-weight: 700;
    }
    &__stock {
        color: #588527;
        font-size: em(14);
        &_no {
            color: #e41212;
            text-decoration: none;
        }
    }
    &__incart {
        margin-top: em(4);
    }
    &__img {
        max-width: 100%;
        display: block;
        border-right: 20px solid transparent;
        box-sizing: border-box;
    }
    &__tocompare {
        $font-size: 14;
        font-size: em($font-size);
        color: $base__link-color;
        display: block;
        padding: em(20, $font-size) 0 0;
        input {
            vertical-align: middle;
            display: inline-block;
            margin-right: em(5, $font-size);
        }
    }
    &__sdetalis {

    }
    &__list li {
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 11px;
            height: 8px;
            position: absolute;
            background: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIiBbDQoJPCFFTlRJVFkgbnNfZmxvd3MgImh0dHA6Ly9ucy5hZG9iZS5jb20vRmxvd3MvMS4wLyI+DQpdPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRUY1QTJDIiBkPSJNMTEuMDA0IDEuODU2bC0xLjkyNi0xLjg1Ni00Ljc0IDQuNTctMi42NzUtMi4zNzMtMS42NjMgMS42MDMgNC42MzUgNC4xOTcgNi4zNjktNi4xNDF6Ii8+PC9zdmc+) no-repeat;
            background-size: 100% 100%;
            top: 12px;
            left: -22px;
        }
    }
    &__link {
        display: block;
    }
}