.b-form {
    $font-size: 14;
    &__text , &__textarea{
        box-sizing: border-box;
        border: 1px solid #d2d2d2;
        font-size: $font-size*1px;
        color: #464646;
        padding: 0 em(10);
        height: em(33, $font-size);
        display: inline-block;
        width: 100%;
        transition: box-shadow 0.3s ease;
        font-family: $base__font;
        &_search {
            padding-right: em(20);
        }
        &_short {
            width: em(95, $font-size);
        }
    }
    &__text:focus , &__textarea:focus {
        box-shadow: 0 0 5px #0076a3;
    }
    &__textarea{
        resize: none;
        height: auto;
        padding-top:em(5);
        padding-bottom: em(5);
    }
    &__label {
        color: #454545;
        font-size: em(14);
        /*font-weight: bold;*/
        display: inline-block;
        padding-right: em(19);
        padding-top: em(5);
        &_cart {
            font-weight: normal;
            display: block;
            padding: em(25, 14) 0 0;
        }
    }
    &__table {
        width: 100%;
        td {
            padding-bottom: em(14);
            &:first-child {
                width: em(225);
                vertical-align: top;
            }
            &:nth-child(2) {
                width: em(310);
            }
        }
        &_page{
            margin: em(5) 0 em(30);
            td {
                &:first-child {
                    text-align: right;
                }
            }
        }
        &_contacts{
            margin-top: em(40);
        }
    }
    &__required {
        color: #ef592c;
        font-size: em(18, 14);
        margin-top: - em(18,14);
        display: inline-block;
    }
    &__help {
        display: block;
        font-size: em(12);
        color: #898989;
        font-style: italic;
        &_cell{
            padding-left: em(25,12);
        }
    }
    &_cart {
        padding-top: em(37);
    }
    &__checkbox {
        vertical-align: middle;
        margin-right: 15px;
    }
    &__select{
        &.jq-selectbox {
            display: block !important;
            width: 100%;
            .jq-selectbox {
                &__select {
                    box-sizing: border-box;
                    border: 1px solid #d2d2d2;
                    border-radius: 1px / 2px;
                    padding: em(6) em(37) em(6) em(12);
                    &-text {
                        font-size: em(12);
                        color: #888;
                    }
                }
                &__trigger{
                    border-top: em(10) solid #464646;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    position: absolute;
                    top: 50%;
                    right: em(21);
                    margin-top: -5px;
                }
                &__dropdown{
                    background: #fff;
                    border: 1px solid #d2d2d2;
                    border-top: 0;
                    width: 100%;
                    box-sizing: border-box;
                    padding: em(5) 0;
                    cursor: pointer;
                    z-index: 10;
                    li{
                        font-size: em(12);
                        color: #888;
                        padding: em(2) em(12);
                        &:hover{
                            background: #d1d1d1;
                            color: #414546;
                        }
                    }
                }
            }
        }
        &.opened .jq-selectbox__trigger{
            border-top: 0;
            border-bottom:  em(10) solid #464646;
        }
    }
    &_datepicker{
        width: em(132,$font-size);
        background: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIiBbDQoJPCFFTlRJVFkgbnNfZmxvd3MgImh0dHA6Ly9ucy5hZG9iZS5jb20vRmxvd3MvMS4wLyI+DQpdPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTS44MzMgNi42NjdoMTguMzMzdjEyLjVoLTE4LjMzM3YtMTIuNXptMTQuMTY3LTIuNXYtMS42NjdoNC4xNjd2My4zMzNoLTE4LjMzNHYtMy4zMzNoNC4xNjd2MS42NjdoLjgzM3YtMS42NjdoOC4zMzN2MS42NjdoLjgzNHptLS44MzMtNC4xNjd2MS42NjdoLTguMzM0di0xLjY2N2gtLjgzM3YxLjY2N2gtNXYxOC4zMzNoMjB2LTE4LjMzM2gtNXYtMS42NjdoLS44MzN6Ii8+PC9zdmc+) no-repeat em(104,$font-size) center;
    }
    &__rtext{
        color: #888;
        font-size: em(12);
        font-style: italic;

    }
    &__el{
        padding-bottom: em(17);
    }
}