.b-filter {
    background: #f8f8f8;
    padding: em(28) 0 em(23) 0;
    margin-bottom: em(15);
    &__title {
        color: #454545;
        font-family: $second-font;
        $font-size: 18;
        font-size: em($font-size);
        font-weight: 500;
        padding-bottom: em(15, $font-size);
    }
    &__label {
        $font-size: 14;
        font-size: em($font-size);
        color: $base__link-color;
        display: block;
        padding: em(7, $font-size) em(20, $font-size) em(7, $font-size) 0;
        input {
            vertical-align: middle;
            display: inline-block;
            margin-right: em(12, 14);
        }
        &_disable {
            color: #b7b7b7;
        }
        sup {
            font-size: em(11, 14);
            vertical-align: top;
        }
    }
    &__table {
        width: 100%;
        vertical-align: top;
    }
    &__price {
        font-size: em(12);
        color: #464646;
        .b-form__text {
            display: inline-block;
            width: 66px;
            vertical-align: middle;
            padding: 0 em(5);
            margin: 0 em(5);
        }
    }
}

.ui-slider {
    border: 1px solid #0076a3;
    background: transparent;
    border-radius: 0;
    position: relative;
    border-radius: 5px;
    float: left;
    width: 100%;
    height: 7px;
    margin-top: em(11);
    &-range {
        height: 7px;
        background: #0076a3;
        position: absolute;
        border-radius: 7px;
        border: 0;
    }
    &-handle {
        position: absolute;
        display: block;
        border: 0 !important;
        width:14px;
        height:15px;
        background-color:transparent!important;
        border-radius: 0;
        margin-left: -7px;
        &:before{
            content:"";
            display:block;
            border-bottom: 15px solid #0076a3 !important;
            border-right: 14px solid transparent !important;
            border-radius: 0;
            position: absolute;
            top: 6px;
            left: 7px;
        }
        &:nth-child(2) {
            &:before{
                border-right: 0 !important;
                border-left: 14px solid transparent !important;
                left:-7px;
            }
        }
    }
}