.b-itemmenu{
    text-align: center;
    padding: em(19) 0;
    background: #f9f9f9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &__link{
        display: inline-block;
        border: 1px solid #d2d2d2;
        border-radius: 3px;
        background-color: #fff;
        color: #888;
        font-family: $second-font;
        $font-size: 14;
        font-size: em($font-size);
        font-weight: 500;
        text-transform: uppercase;
        padding: em(4) em(12, $font-size);
        text-decoration: none;
        margin: 0 em(5, $font-size);
        vertical-align: middle;
        &.active{
            background-color:#ef592c;
            border-color: #ef592c;
            color: #fff;
        }
    }
    &__top{
        display: inline-block;
        vertical-align: middle;
        width:23px;
        height: 23px;
        background: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIiBbDQoJPCFFTlRJVFkgbnNfZmxvd3MgImh0dHA6Ly9ucy5hZG9iZS5jb20vRmxvd3MvMS4wLyI+DQpdPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNFRjVCMkQiIGQ9Ik0xMS44MTkgNi43MjdsLTcuMDAxIDcuMDg1IDEuMTY3IDEuMTgxIDUuODM0LTUuOTA1IDUuODMzIDUuOTA1IDEuMTY2LTEuMTgxLTYuOTk5LTcuMDg1em0tLjMxOC02LjcyN2MtNi4zNDIgMC0xMS41MDEgNS4xNTktMTEuNTAxIDExLjUwMSAwIDYuMzQgNS4xNTkgMTEuNDk5IDExLjUwMSAxMS40OTkgNi4zNDEgMCAxMS40OTktNS4xNTkgMTEuNDk5LTExLjQ5OSAwLTYuMzQyLTUuMTU4LTExLjUwMS0xMS40OTktMTEuNTAxem0wIDIxLjE2Yy01LjMyNyAwLTkuNjYxLTQuMzM0LTkuNjYxLTkuNjU5IDAtNS4zMjggNC4zMzQtOS42NjEgOS42NjEtOS42NjEgNS4zMjYgMCA5LjY1OSA0LjMzMyA5LjY1OSA5LjY2MSAwIDUuMzI1LTQuMzMzIDkuNjU5LTkuNjU5IDkuNjU5eiIvPjwvc3ZnPg==) no-repeat;
        background-size: 100% 100%;
        margin: 0 em(5);
    }
}