.b-page {
    padding: em(19) 0;
    &__title {
        font-size: em(44);
        color: #464646;
        font-family: $second-font;
        font-weight: 300;
        padding-bottom: em(11);
    }
    &_wb{
        background:url(../images/map.jpg) no-repeat center em(30);
    }
}