[class*="icon-"] {
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    background-size: auto 1000%;
    background-position: 0% 0%;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.icon-1 {
    background-position: 0% 0%;
}

.icon-2 {
    background-position: 14.5% 0;
    width: 1.533em;
}

.icon-3 {
    background-position: 33% 0;
}

.icon-4 {
    background-position: 44% 0;
}

.icon-5 {
    background-position: 55% 0;
}

.icon-6 {
    background-position: 66.5% 0;
}

.icon-7 {
    background-position: 66.5% 0.5%;
}

.icon-8 {
    background-position: 77.5% 0.5%;
}

.icon-9 {
    background-position: 88.5% 0.5%;
}

.icon-10 {
    background-position: 99.5% 0.5%;
}

.icon-11 {
    background-position: 0% 11%;
}

.icon-12 {
    background-position: 11.5% 11.5%;
}

.icon-13 {
    background-position: 22.5% 11.5%;
}

.icon-14 {
    background-position: 33.5% 11.5%;
}

.icon-15 {
    background-position: 44.5% 11.5%;
}

.icon-16 {
    background-position: 55.5% 11.5%;
}

.icon-17 {
    background-position: 66.5% 11.5%;
}

.icon-18 {
    background-position: 77.5% 11.5%;
}

.icon-19 {
    background-position: 88.5% 11.5%;
}

.icon-20 {
    background-position: 99.5% 11.5%;
}

.icon-61 {
    background-position: 0% 55.5%;
}

.icon-62 {
    background-position: 11.5% 55.5%;
}

.icon-63 {
    background-position: 22.5% 55.5%;
}

.icon-64 {
    background-position: 33.5% 55.5%;
}

.icon-65 {
    background-position: 44.5% 55.5%;
}

.icon-66 {
    background-position: 55.5% 55.5%;
}

.icon-67 {
    background-position: 66.5% 55.5%;
}

.icon-68 {
    background-position: 77.5% 55.5%;
}

.icon-69 {
    background-position: 88.5% 55.5%;
}

.icon-70 {
    background-position: 99.5% 55.5%;
}

.icon-71 {
    background-position: 0 66%;
}
.icon-72 {
    background-position: 11.5% 66.5%;
}